<!DOCTYPE html>
<html>
<!--layout default-->
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div style="padding: 40px; text-align:center">
          <a class="small_cta_button" data-form-id="{{page.sample_chapter_form_id}}">Sample Chapter</a>
          <a class="small_cta_button" href="{{page.buy_button}}"       >Buy ${{page.price}}</a>
          <a class="small_cta_button" href="{{page.group_buy_button}}" >Site Licence ${{page.site_price}}</a>
        </div>
        <h1>{{page.title}}</h1>
        {{ content }}
        <div style="padding: 40px; text-align:center">
          <a class="small_cta_button" data-form-id="{{page.sample_chapter_form_id}}">Sample Chapter</a>
          <a class="small_cta_button" href="{{page.buy_button}}"       >Buy ${{page.price}}</a>
          <a class="small_cta_button" href="{{page.group_buy_button}}" >Site Licence ${{page.site_price}}</a>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
